.container {
  position: relative;
  background: #ffffff;
  height: 85px;
  width: 90%;
  margin: 10px 5%;
}

.text {
  position: absolute;
  left: 32px;
  top: 26px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
