.pagination-section {
  position: relative;
  display: flex;
  height: 32px;
  width: 90%;
  margin: 16px 5%;
  justify-content: center;
  margin-bottom: 50px;
}

.button-container {
  margin-top: 20px;
}

.pageButton {
  width: 32px;
  height: 32px;
  border: none;
  background: #ffffff;
  border-radius: 53px;
  color: #616161;
  margin: 0 5px;
  cursor: pointer;
}
.pageButton:hover {
  background: #f7f5ff;
  border: 1px solid #6b47ed;
  border-radius: 53px;
}
.active-pageButton {
  background: #f7f5ff;
  border: 1px solid #6b47ed;
  border-radius: 53px;
}
